
{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
  	
  	<!--- Presentacion de resultados de calculo</h1> --->
  	<!--- El formulario es igual que el de entrada de datos, pero solo de lectura ---> 
  	


 
  	

  	<div class="datos-cuna">
       <h3> Datos de Cuña </h3>
       
         
 		{% if TipoC == "C1" %} <div class="box-hitab1"> Cuña 1</div>  
 		{% else %} <div class="box-tab1"> Cuña 1</div>{% endif %}
 		{% if TipoC == "C2" %} <div class="box-hitab1"> Cuña 2</div>  
 		{% else %} <div class="box-tab1">Cuña 2</div>{% endif %}
 		{% if TipoC == "C3" %} <div class="box-hitab1"> Cuña 3</div>  
 		{% else %} <div class="box-tab1"> Cuña 3</div>{% endif %}
 		{% if TipoC == "C4" %} <div class="box-hitab1"> Cuña 4</div>  
 		{% else %} <div class="box-tab1"> Cuña 4</div>{% endif %}
		<br>
		<br>
 		<div class="datos-cuna2"> 
 		
 		
 		{% if TipoC == "C1" %}
 		
 			<br>{{ form.h1.label }}<div class=i2> {{ form.h1.data }} </div>
			<br>{{ form.d.label }}<div class=i2> {{ form.d.data }} </div>
    		<br>{{ form.b.label }}<div class=i2> {{ form.b.data }} </div>
    		<br>{{ form.Coh.label }}<div class=i2> {{ form.Coh.data }} </div>
    		<br>{{ form.Roz.label }}<div class=i2> {{ form.Roz.data}} </div>
    		<br>{{ form.Dens.label }}<div class=i2> {{ form.Dens.data }} </div>
    		<br>{{ form.AcSis.label }}<div class=i2> {{ form.AcSis.data }} </div>   
    		<br>
    		<br> <img src="{{ url_for('static', filename = 'helpc1.jpg') }}" width="300" height="200">
     	

		{% elif  TipoC == "C2" %}
		
 			<br>{{ form.h1.label }}<div class=i2> {{ form.h1.data }} </div>
 			<br>{{ form.h2.label }}<div class=i2> {{ form.h2.data }} </div>
    		<br>{{ form.d.label }}<div class=i2> {{ form.d.data }} </div>
    		<br>{{ form.b.label }}<div class=i2> {{ form.b.data }} </div>
    		<br>{{ form.Coh.label }}<div class=i2> {{ form.Coh.data }} </div>
    		<br>{{ form.Roz.label }}<div class=i2> {{ form.Roz.data }} </div>
    		<br>{{ form.Dens.label }}<div class=i2> {{ form.Dens.data }} </div>
    		<br>{{ form.AcSis.label }}<div class=i2> {{ form.AcSis.data }} </div>
			<br>
    		<br> <img src="{{ url_for('static', filename = 'helpc2.jpg') }}" width="300" height="200">
     	
		{% elif  TipoC == "C3" %}
		
 			<br>{{ form.h1.label }}<div class=i2> {{ form.h1.data }} </div>
    		<br>{{ form.d.label }}<div class=i2> {{ form.d.data }} </div>    	
    		<br>{{ form.L.label }}<div class=i2> {{ form.L.data }} </div>
    		<br>{{ form.Dens.label }}<div class=i2> {{ form.Dens.data }} </div>
 			<br>
    		<br> <img src="{{ url_for('static', filename = 'helpc3.jpg') }}" width="300" height="200">
     		
		{% elif  TipoC == "C4" %}
		
			<br>{{ form.h1.label }}<div class=i2> {{ form.h1.data }} </div>
 			<br>{{ form.h2.label }}<div class=i2> {{ form.L.data }} </div>
    		<br>{{ form.d.label }}<div class=i2> {{ form.d.data }} </div>
    		<br>{{ form.b.label }}<div class=i2> {{ form.b.data }} </div>
    		<br>{{ form.Coh.label }}<div class=i2> {{ form.Coh.data }} </div>
    		<br>{{ form.Roz.label }}<div class=i2> {{ form.Roz.data }}</div>
    		<br>{{ form.Dens.label }}<div class=i2> {{ form.Dens.data }} </div>
    		<br>{{ form.AcSis.label }}<div class=i2> {{ form.AcSis.data }} </div>
			<br>
    		<br> <img src="{{ url_for('static', filename = 'helpc4.jpg') }}" width="300" height="200">
     	
		{% endif %}
		</div>	
 		</div>
 		
	
  		<div class="datos-cuna">
      	<h3> Datos de Proteccion </h3>
       
       <!--- Menu tipo tabs de proteccion --->
       
 		{% if TipoProt == "ProActive" %} <div class="box-hitab"> ProActive</div>  
 		{% else %} <div class="box-tab"> Proactive</div>{% endif %}
 		{% if TipoProt == "ProActive ST" %} <div class="box-hitab"> ProActiveST</div>  
 		{% else %} <div class="box-tab"> Proactive ST</div>{% endif %}
 		{% if TipoProt == "NetProtect" %} <div class="box-hitab"> NetProtect</div>  
 		{% else %} <div class="box-tab"> NetProtect</div>{% endif %}
 		{% if TipoProt == "NetProtectST" %} <div class="box-hitab"> NetProtect ST</div>  
 		{% else %} <div class="box-tab"> NetProtect ST</div>{% endif %}
		<br>
		<br>
 		<div class="datos-cuna2"> 
 		
	    <!---form action="{{ url_for('core.calc_prot',TipoC = "C1", TipoProt = "NetProtect") }}" method="POST"--->
   
	 	
    	{{ form.hidden_tag() }}
 		
 		{% if TipoProt == "ProActive" %}

 		<h3>Malla de Triple Torsion </h3>
 		{{ form.TipoMalla.label }}<div class=i2> {{ form.TipoMalla.data }} </div>
		
		<h3>Anclajes</h3>		 		
 		{{ form.DistCor.label }}<div class=i2> {{ form.DistCor.data }} </div> 		

		{% elif  TipoProt== "ProActiveST" %}
		
  		<h3>Malla de Triple Torsion Reforzada</h3>
 		{{ form.TipoMalla.label }}<div class=i2> {{ form.TipoMalla.data }} </div>
 		<br>{{ form.TipoCableRefuerzo.label }}<div class=i2> {{ form.TipoCableRefuerzo.data }} </div>
		
		<h3>Bulones</h3>		 		
 		{{ form.SH_B.label }}<div class=i2> {{ form.SH_B.data }} </div>
		<br>{{ form.SV_B.label }}<div class=i2> {{ form.SV_B.data }} </div>
			
		{% elif  TipoProt == "NetProtect" %}
		
 		<h3>Red de Cable</h3>
 		{{ form.TipoRedNP.label }}<div class=i2> {{ form.TipoRedNP.data }} </div>
 		<br>{{ form.TipoCableRefuerzo.label }}<div class=i2> {{ form.TipoCableRefuerzo.data }} </div>
		
		<h3>Bulones</h3>	 		
 		{{ form.SH_B.label }}<div class=i2> {{ form.SH_B.data }} </div>
		<br>{{ form.SV_B.label }}<div class=i2> {{ form.SV_B.data }} </div>
	
		{% elif  TipoProt == "NetProtectST" %}
		
 		<h3>Red de Anillos</h3>
		{{ form.TipoRedNPST.label }}<div class=i2> {{ form.TipoRedNPST.data }} </div>
 		<br>{{ form.TipoCableRefuerzo.label }}<div class=i2> {{ form.TipoCableRefuerzo.data }} </div>
		
		<h3>Bulones</h3>		 		
 		{{ form.SH_B.label }}<div class=i2> {{ form.SH_B.data }} </div>
		<br>{{ form.SV_B.label }}<div class=i2> {{ form.SV_B.data }} </div>
		    	
		{% endif %}
		
		<!--- Campos comunes a todas las opciones --->
		<br>{{ form.LongBulon.label }}<div class=i2> {{ form.LongBulon.data }} </div>
		<br>{{ form.DiamAcero.label }}<div class=i2> {{ form.DiamAcero.data }} </div>
		<br>{{ form.Adh.label }}<div class=i2> {{ form.Adh.data }} </div>
		<br>{{ form.fck.label }}<div class=i2> {{ form.fck.data }} </div>
		<br>{{ form.DiamPerf.label }}<div class=i2> {{ form.DiamPerf.data }} </div>
		<br>

		</div>	
 		</div>
 		
 		<!--- Presentacion de resultados --->		
 		 		
 		{% if Estable %}
		
			
 		{% else %}
 		
 		<div class="datos-cuna"> 
	   	<h3> Valores calculados </h3>
 		<div class="datos-cuna2">
 		 
 		
 		 
       	<table width = "320px" > 
       	<col width="160">
		<col width="90">
		<col width="120">
	
       	<tr>
    		<td colspan = "3" style="height:15px; background-color:white;" >  <font color="black", size="4">   Datos cuña</style></td>
    	</tr>	

       	
       	 {% if TipoC == "C3" %}
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  FR (kN) </style></td>
    		<td align ="left"> <div class=i3>  {{ form.FR.data | round(3)}} </div> </td>
    		<td> </td>
    	</tr>
       	
       	{% else %}
  		<tr>
  		
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'"> FS inicial (kN) </style></td>
			<td> <div class=i3>  {{ form.FSI.data | round(3)}} </div> </td>
    		<td> </td>
    	</tr>
    	</tr>	
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  FR (kN) </style></td>
    		<td> <div class=i3>  {{ form.FR.data | round(3)}} </div> </td>
    		<td> </td>
    	</tr>

    	{% endif %}
    	
    	<tr>
    	<td colspan ="3";  > </td>
    	</tr>
    
		{% if (TipoProt == "ProActive") %}
    		<tr>
    		<td colspan ="3";  >  <font color="black">  Resistencia MTT </style></td>
    	</tr>	
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  R1 (kN) </style></td>
    		<td> <div class=i3>  {{ form.R1.data | round(3)}} </div> </td>
    		{% if form.R1Cumple.data %} <td align="lef"> <font color="green">   Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
    	</tr>

		<tr>
    	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4">  Anclajes de coronacion</style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  PNd (kN) </style></td>
    		<td> <div class=i3>  {{ form.PNd.data | round(3)}} </div> </td>
    	</tr>
    	<td colspan ="3" >  <font color="black">  Tension del Acero </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P1 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P1.data | round(3)}} </div> </td>
   			{% if form.P1Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
		<tr>
    	<td colspan ="3" >  <font color="black">  Arrancamiento </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P3 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P3.data | round(3)}} </div> </td>
   			{% if form.P3Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
			</tr>
 		<tr>
    	<td colspan ="3" >  <font color="black">  Deslizamiento </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P2 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P2.data | round(3)}} </div> </td>
   			{% if form.P2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
 		<tr>
    	<td colspan ="3" >  <font color="black">  Cortante </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  Vr (kN) </style></td>
    		<td> <div class=i3>  {{ form.R2.data | round(3)}} </div> </td>
   			{% if form.R2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
 		</tr>
    	{% elif (TipoProt == "NetProtect") or (TipoProt == "NetProtectST")  %}
		<tr>
		  	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4"> Cable de cosido</style></td>
    	</tr>	
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  R2 (kN) </style></td>
    		<td> <div class=i3>  {{ form.R2.data | round(3)}} </div> </td>
    		{% if form.R2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
    	</tr>
		<tr>
		  	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4">  Red</style></td>
		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  R1 (kN) </style></td>
    		<td> <div class=i3>  {{ form.R1.data | round(3)}} </div> </td>
    		{% if form.R1Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
    	</tr>
 		<tr>
 		  	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4">  Bulones</style></td>
		</tr>
		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  PNd (kN) </style></td>
    		<td> <div class=i3>  {{ form.PNd.data | round(3)}} </div> </td>
		</tr>
 		<tr>
    	<td colspan ="3" >  <font color="black">  Tension del Acero </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P1 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P1.data | round(3)}} </div> </td>
   			{% if form.P1Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
		<tr>
    	<td colspan ="3" >  <font color="black">  Arrancamiento </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P3 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P3.data | round(3)}} </div> </td>
   			{% if form.P3Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
 		<tr>
    	<td colspan ="3" >  <font color="black">  Deslizamiento </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P2 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P2.data | round(3)}} </div> </td>
   			{% if form.P2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>


		{% else %}
		<!---- Si la malla no es Proactive hay varias opciones---->
		
		{% if (TipoProt == "NetProtect") or (TipoProt == "NetProtectST")  %}
 		<tr>
 		  	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4">  Cable de cosido</style></td>
		</tr>
  			<tr>
    			<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  R2 (kN) </style></td>
    			<td> <div class=i3>  {{ form.R2.data | round(3)}} </div> </td>
    			{% if form.R2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
				{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
    		</tr>
			<tr>
    			<td colspan ="3" >  <font color="black">  Red </style></td>
  			<tr>
    			<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  R1 (kN) </style></td>
    			<td> <div class=i3>  {{ form.R1.data | round(3)}} </div> </td>
    			{% if form.R1Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
				{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
    		</tr>
    		
    		
		{% elif (TipoProt == "ProActiveST") %}
 		<tr>
 		  	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4">  Malla reforzada</style></td>
		</tr>
  			<tr>
    			<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  Rmar (kN) </style></td>
    			<td> <div class=i3>  {{ form.R1R2.data | round(3)}} </div> </td>
    			{% if form.R1R2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
				{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
    		</tr>
		
		{% endif %}
		<!--- Y luego se presenta la información de los bulones que es siempre la misna --->
		    	
 		<tr>
 		  	<td colspan = "3" style="height:15px; background-color:white; border-top:1pt solid black;" >  <font color="black", size="4">  Bulones</style></td>
		</tr>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  PNd (kN) </style></td>
    		<td> <div class=i3>  {{ form.PNd.data | round(3)}} </div> </td>
    	</tr>
		<tr>
    	<td colspan ="3" >  <font color="black">  Tension del Acero </style></td>
    	</tr>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P1 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P1.data | round(3)}} </div> </td>
   			{% if form.P1Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
    	<tr>
    	<td colspan ="3" >  <font color="black">  Arrancamiento </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P3 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P3.data | round(3)}} </div> </td>
   			{% if form.P3Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
 		<tr>
    	<td colspan ="3" >  <font color="black">  Deslizamiento </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  P2 (kN) </style></td>
    		<td> <div class=i3>  {{ form.P2.data | round(3)}} </div> </td>
   			{% if form.P2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
		{% if (TipoProt == "NetProtect") or (TipoProt == "NetProtectST")  %}
	
 		<tr>
    	<td colspan ="3" >  <font color="black">  Cortante </style></td>
  		<tr>
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  Vr (kN) </style></td>
    		<td> <div class=i3>  {{ form.R2.data | round(3)}} </div> </td>
   			{% if form.R2Cumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		</tr>
		{% endif %}
		{% endif %}	
		
		<tr bgcolor = "white" >
		
    		<td align="right" float-right:10px  style="font-family: arial; font-weight: bold; padding-right:10px; text-align:right; font-size:10pt; color='black'">  FS Final </style></td>
    		<td> <div class=i2>  {{ form.FSfinal.data | round(3)}} </div> </td>
      		{% if form.FSfinalCumple.data %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #4CAF50; "> Cumple</style></td>
			{% else %} <td align="left"  style="font-family: arial; font-weight: bold; padding-left:6px; text-align:left; font-size:10pt; color: #660000; "> No Cumple</style></td>{% endif %}
		 				
    	<td> </td>
 		</tr>
 		</table>
	
	<br>
	<br>
	<br>
	<br>

	<style>
	a {
    	color: white;
	}
	</style>

	<div class="input2" ><a href="{{ url_for('core.change_calc', calc_id=form.id.data) }}" > Cambiar </td></a></div>		 		
	
	
	 	 		
     	    	
	{% endif %}
   
 	</div>	
  {% endblock %}
