
{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% set active_page ='post_question' %}

{% block content %}
	<br>
	<br>  
  	{% if success %}
    	<p>Thank you for your message. We'll get back to you shortly.</p>   
 	{% else %}


		<div style="background-color:white; width: 440px; height: 350px; position: relative; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  padding: 20px; margin-left:auto; margin-right:auto; ">
 		
 		<h3> Contacte con Paramassi </h3>
    	
    	<style>	
		input[type=text] {
    		font: 1em sans-serif;
    		
			    /* Para darle el mismo tamaño a todos los campos de texto */
    		width: 400px;
    		height:200px;
    		line-height: 21px;
    		padding: 2px; 
    		padding-top: 20px;; 	
    	
  			 /* Para armonizar el look&feel del borde en los campos de texto */
    		border: 1px solid #999;
    		border-radius: 5px;
			}
			
		
		input[type=submit] {
    		padding:5px 15px;
    		color: white; 
    		background:url({{ url_for('static', filename = 'Submit.png') }}); 
    		width: 160px;
    		height:22px;
    		text-align:left; 	
    		border:0 none;
    		cursor:pointer;
			}		
		</style>
		<p><font color="black">Escriba su pregunta </font> </p>
		
		<form action="{{ url_for('core.post_question') }}" method=post>
    	{{ form.hidden_tag() }}

		<div style="vertical-align: top">
    	{{ form.question_text}}
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
    	{{ form.submit }}
  		</form>
		<br>
		<br>

	</div>
	{% endif %}
  {% endblock %}
