{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<br>
<br>

 	<div style="background-color:white; width: 600px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  padding: 20px; margin-left:auto; margin-right:auto; ">
	
 
<h2>Bienvenido</h2>
<br>
<div style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:400px; margin-left:auto; margin-right:auto; ">

<p> <img src="{{ url_for('static', filename = 'UserPage.png') }}"><p>
</div>
<p>Bienvenido a la aplicación de clientes de Paramassi</p>
<p> Actualmente existen en el mercado varios materiales y técnicas que pueden emplearse para mejorar los taludes y laderas. PARAMASSI tiene como filosofía agrupar los materiales en sistemas coherentes, combinando los materiales disponibles para lograr un resultado armónico que resuelva los problemas de manera efectiva.</p>
<p>Con el fin de categorizar y acotar el campo de aplicación de cada uno de estos materiales, PARAMASSI ha definido unos criterios básicos de aplicación para cada tipo de protección, agrupándolos en 6 sistemas diferentes. Con ello se pretende normalizar, clarificar y unificar los criterios de aplicación para cada necesidad, siendo más sencillos para los usuarios y Administraciones.</p>

<br>
<br>
<br>


{% endblock %}